nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

body {
    background-color: black;
}

#content>div {
    display: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 20;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: white;
    font-size: 15;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    color: black;
    font-size: 15;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
    font-size: 10;
    font-family: Arial, Helvetica, sans-serif;
}
p1 {
    color: black;
    font-size: 10;
    font-family: Arial, Helvetica, sans-serif;
}

.input-container {
    text-align: center;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #007bff;
}

.scroll-box {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.button-container {
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 300px; /* Adjust button width as needed */
    height: 100px; /* Adjust button height as needed */
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px; 
}

.button-content {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    z-index: 1;
}

.button-title {
    margin: 0;
}

.button-description {
    margin: 0;
    font-size: 14px;
}

.money-bar {
    width: 0; /* Initial width of the money bar */
    height: 100%;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transition: width 0.3s;
}
